@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@700;800&family=Inter:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
- Possible fonts
font-family: 'Anek Devanagari', sans-serif; Only bold and extra bold.
font-family: 'Inter', sans-serif;
*/

@layer components {
    .button {
        @apply h-8 text-white px-3 font-medium text-sm hover:opacity-80;
        border-radius: 10px;
        background: linear-gradient(180deg, #FF6B00 0%, #FF2E00 60.92%);
    }
}